body{
    font-family: "Arial Black";
    background-color: lightgoldenrodyellow;
}
h2{
    margin-left: 15px;
}

#container ul{
    background-color: lightsteelblue;
}

h1,h2,h4{
    color: darkslategrey;
}

#huk{
    background-color: darkorange;
    border: 1px solid darkorange;
    width: 145PX;
    border-radius: 7px;
    width: 50px;
    font-size: 13px;
    text-align: center;
    margin-left: 1.8%;
}



.container{
    margin:auto;
    margin-top: 100px;
    text-align: center;
}

#annonces {
    width:92.7%;
    color: rgba(38, 63, 255, 0.99);
    border:1px solid black;
    margin: auto;
    border-radius: 9px;
    margin-bottom: 3px;
}

.container ul li{
    color: rgba(38, 63, 255, 0.99);
    margin-left: -50px;
}

header{

    /*height: 100px;*/
    background-color: #f56b2a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0.8;
}

a:link{
    text-decoration: none;
}



a:hover{
    color: ghostwhite;
}

#lul{
    display: none;
}

ul li{
    display: inline-block;
    list-style-type: none;
    padding: 20px;
    padding-left: inherit;
    color: white;
    font-size: x-large;
}

li:first-child{
    font-family:"Courier New";
}


table{
    border: 2px solid #000000;
    border-collapse:collapse;
}

th{
    border: 2px solid #000000;
}

td:nth-child(2n+1){
    background-color:lavender;
}

td{

    border: 2px solid #000000;
}

.welcome{

    background-color: lightblue;
    margin: auto;
    margin-bottom: 10px;
    padding:15px;
}

form{
    padding:5px;
}

label{
    display:inline-block;
    width:101px;
}
input{
    margin-bottom:10px;
    margin-left: 15px;
}

#mdp{
    margin-left: 5px;
}

button{
    text-align: center;
    margin-left: 18.8%;
    width: 145px;
    background-color: darkorange;
    border-radius: 7px;
    border: 1px solid darkorange;
    color: white;
    font-size: 13px;

}



